################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cybersecurity Chatbot/.vs/Cybersecurity Chatbot
/.vs/PROG6221-part-one/v17
